<form>
    <label>Full name</label>
    <input type="text" name="fullName" id="fullName" />
    <input type="button" value="Send Product" class="btn btn-primary" id="btnSubmit" />
    <input type="button" value="Send list Product" class="btn btn-primary" id="btnSubmit2" />
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                debugger;
                @*var str = document.getElementById('fullName').value;*@
                var prod = { ProductID: 1, ProductName: "San pham A" };
                $.ajax({
                    url: "/Demo/Index",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: prod,
                    success: function (response) {
                        alert("Ket qua: " + response);
                    },
                    error: function (response) {
                        alert('Thất bại');
                    }
                });
            });
            $("#btnSubmit2").click(function () {
                var listprod = [{ ProductID: 1, ProductName: "San pham A" }, { ProductID: 2, ProductName: "San pham B"}];
                $.ajax({
                    url: "/Demo/ListSubmit",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {"list":listprod},
                    success: function (response) {
                        alert("Ket qua: " + response);
                    },
                    error: function (response) {
                        alert('Thất bại');
                    }
                });
            });
        });
</script>

}