@model IEnumerable<GSM.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách sản phẩm</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo mới sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
